## sentiment analysis of spam messages

In [1]:
import pandas as pd
from textblob import TextBlob
import nltk

In [2]:
spam = pd.read_csv(r"C:\5 Machine Learning\DL\spam1.csv", encoding='cp1252')
spam.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [3]:
spam.isnull().sum()

v1               0
v2               0
Unnamed: 2    6720
Unnamed: 3    6760
Unnamed: 4    6768
dtype: int64

In [4]:
spam = spam.iloc[:,[0,1]]
spam.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [5]:
spam.rename(columns={'v2':'text'}, inplace = True)

In [6]:
spam.text = spam.text.str.lower()

In [7]:
spam.shape

(6776, 2)

In [8]:
spam.iloc[0][1]

'go until jurong point, crazy.. available only in bugis n great world la e buffet... cine there got amore wat...'

In [9]:
text = TextBlob(spam.iloc[0][1])

In [10]:
text.sentiment

Sentiment(polarity=0.15000000000000002, subjectivity=0.7625)

In [11]:
senti_list = []
for i in range(0,spam.shape[0]):
    text = TextBlob(spam.iloc[i][1])
    polarity = text.sentiment[0]
    senti_list.append(polarity)

In [12]:
len(senti_list)

6776

In [13]:
spam['sentiment_score']=senti_list

In [14]:
spam.head()

     v1                                               text  sentiment_score
0   ham  go until jurong point, crazy.. available only ...             0.15
1   ham                      ok lar... joking wif u oni...             0.50
2  spam  free entry in 2 a wkly comp to win fa cup fina...             0.30
3   ham  u dun say so early hor... u c already then say...             0.10
4   ham  nah i don't think he goes to usf, he lives aro...             0.00

In [15]:
spam['sentiment_score'].describe()

count    6776.000000
mean        0.128617
std         0.290114
min        -1.000000
25%         0.000000
50%         0.000000
75%         0.309643
max         1.000000
Name: sentiment_score, dtype: float64

In [16]:
spam[spam['sentiment_score']>0].shape

(3006, 3)

In [17]:
spam[spam['sentiment_score']<0].shape

(960, 3)

In [18]:
spam[spam['sentiment_score']==0].shape

(2810, 3)

In [19]:
#from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [20]:
from nltk.sentiment import SentimentIntensityAnalyzer

In [21]:
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\ADMIN\AppData\Roaming\nltk_data...

True

In [22]:
sent = SentimentIntensityAnalyzer()

In [24]:
sent.polarity_scores('cough syrup is not so good')

{'neg': 0.377, 'neu': 0.623, 'pos': 0.0, 'compound': -0.464}